* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: #505050;
}

.header-box {
    width: 100%;
    height: 100px;
    display: inline-block;
    background-color: lightcoral;

}


header li {
    list-style: none;
    float: right;
    padding: 5px;
    text-indent: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.fudge {
    height: 680px;
    width: 100%;
    background-image: url("../images/fudge.jpg");
    background-size: cover;
    background-position: cover;
}

.card {
    width: 60%;
    height: 300px;
    display: inline-block;
    background-color: mediumpurple;
    margin-left: 20px;
    margin-top: 10px;
}

.first-project {
width: 60%;
height: 300px;
float: left;
background-color: lightcoral;
display: inline-block;
margin-left: 20px;
margin-top: 18px;
}

.about-me {
width: 35%;
height: 1230px;
float: right;
background-color: #f1f1f1;
display: inline-block;
margin-right: 20px;
}

h1 {
    font-size: 32px;
    padding: 20px;
    font-family: monospace;
    font-weight: 600;
}

.subtitle {
    font-size: 24px;
    padding: 20px;
    text-align: center;
}